footer{
    grid-area: footer;
    background: #23272A;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.div-f img{
    width: 230px;
    height: 63px;
    
}

@media screen and (max-width: 576px) {

    footer{
        width: 576px;
        height: 140px;
    }

    .div-f img{
        width: 162px;
        height: 45px;
    }
}