footer {
    height: 140px;
    grid-area: footer;
    background: #23272A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-f img {
    width: 162px;
    height: 45px;
}

@media screen and (min-width: 768px) {
    footer {
        background: #23272A;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-f img {
        width: 230px;
        height: 63px;

    }

}