*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    margin: 0 calc((100vw - 1280px)/2);
    display: grid;
    grid-template: "header" 459px "main" 2199px "footer" 134px / 1280px;
}

@media screen and (max-width: 576px) {
    body{
        margin: 0;
        grid-template: "header" 505px "main" 2147px "footer" 140px / 135vw;
    }
    
}